# .editorconfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
indent_style = space

# Code files
[*.{cs,csx,vb,vbx}]
indent_size = 4
insert_final_newline = true

# Configuration for CanIHazCancellationToken analyzer
# Set to true to prefer adding using statements and using short names
# Set to false (default) to use fully qualified names
CanIHazCancellationToken.PreferUsingStatements = false